.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #525252;

  .left .clear {
    display: inline-block;
  }

  .left {
    font-size: 13px;
  }

  .filter {
    input {
      display: none;
    }
    input:checked + label {
      background: darkgreen;
      color: white;
      border: 1px solid darkgreen;
      cursor: pointer;
    }

    label {
      display: inline-block;
      margin: 0 0.5rem;
      padding: 0.2rem 0.6rem;
      border: 1px solid #c3c3c3;
      border-radius: 4px;
      background: white;


      &:hover {
        background: darkgreen;
        color: white;
        border: 1px solid darkgreen;
        cursor: pointer;
      }
    }
  }

  .clear {
    background: white;
    border: none;
    color: #525252;

    &:hover {
      color: darkgreen;
      cursor: pointer;
    }
  }
}
