.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left .clear {
    display: inline-block;
  }

  .left {
    font-size: 13px;
  }

  .filter {
    button {
      display: inline-block;
      margin: 0 0.5rem;
      padding: 0.2rem 0.3rem;
      border: 1px solid #c3c3c3;
      border-radius: 3px;
      background: white;

      &:hover {
        background: darkgreen;
        color: white;
        border: 1px solid darkgreen;
        cursor: pointer;
      }
    }
  }

  .clear {
    background: white;
    border: none;

    &:hover {
      color: darkgreen;
      cursor: pointer;
    }
  }
}
